.img-circle {
    border: 2px solid rgba(255,255,255,0.5) !important;
    box-shadow: 0 0 3px rgba(0,0,0,0.6) inset !important;
}
.actions {
    display: flex !important;
    flex-flow: row nowrap;
    justify-content: space-around;
}
table {
    margin:15px auto !important;
}